# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# NPM Packages
node_modules/

# Logs
*.log

# Others
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.mdb
*.bak
*.backup
*.swp
*.tmp
*.tmp.*
*.sdf
*.sqlite
*.sqlite3

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test results
TestResults/
*.TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
out/
